@import 'mocha.css';

* {
  font-family: HackNerdFont;
  font-size: 14px;
  border: none;
  border-radius: 0px;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  font-size: 14px;
  background-color: @main-bg;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 1);
}

window#waybar.hidden {
  opacity: 0.5;
}

#waybar.empty #window {
  background: none;
}

window#waybar > box {
  background-color: transparent;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 1);
  margin: 2px;
}

tooltip{
  border-radius: 5px;
  margin: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
  border: solid;
  border-width: 1.5px;
  border-color: #545c7e;
}

tooltip label{
  color: #bb9af7;
  font-weight: normal;
  margin: -1.5px 3px;
}

.modules-right{
  font-size: 14px;
  transition-duration: 0.5s;
  margin: 0px;
}

.modules-left{
  font-size: 14px;
  transition-duration: 0.5s;
  margin: 0px;
}

.modules-center{
  margin: 0;
}

#idle_inhibitor,
#backlight,
#battery,
#clock,
#cpu,
#disk,
#mode,
#memory,
#tray,
#wireplumber,
#custom-menu,
#custom-power,
#custom-weather,
#custom-updater,
#custom-vpn_check,
#custom-uptime,
#custom-cputemp,
#custom-waybar-mpris,
#custom-clipboard,
#custom-window,
#workspaces,
#submap,
#network {
  opacity: 1;
  color: @module-fg;
  padding: 0 4px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}


#custom-left1,
#custom-left2,
#custom-left3,
#custom-left4,
#custom-left5,
#custom-left6,
#custom-left7,
#custom-left8 {
  margin-bottom: 0;
  text-shadow: -2px 0 2px rgba(0, 0, 0, 0.5);
}

#custom-right1,
#custom-right2,
#custom-right3,
#custom-right4,
#custom-right5 {
  margin-bottom: 0;
  padding-right: 3px;
  text-shadow: 2px 0 2px rgba(0, 0, 0, 0.5);
}

#custom-arch{
  color: @arch;
  font-size: 16px;
  background: @main-bg;
  padding: 1px 3px 1px 15px;
}

#custom-arch:hover{
  color: @arch-select;
  font-size: 16px;
  background: @main-bg;
}

#custom-left1 {
  color: @workspaces;
  background: @main-bg;
  margin-bottom: 0;
  padding-left: 2px;
  font-size: 21px;
}

#workspaces{
  transition-property: background-color;
  transition-duration: 0.5s;
  padding: 1px 1px 1px 7px;
  background: @workspaces;
}

#workspaces button {
  color: #ff0000;
  box-shadow: none;
  margin: 2px 0;
  border-radius: 8px;
  margin: 3px;
  padding: 0 2px;
  transition: none;
}

#workspaces button:hover {
  text-shadow: none;
  box-shadow: none;
}

#workspaces button.persistent {
  color: @w-persist;
  border-radius: 0px;
}

#workspaces button.active {
  color: @w-active;
  border-radius: 0px;
}

#workspaces button.urgent {
  color: @red;
  border-radius: 0px;
}

#workspaces button:not(.empty):not(.active) {
  color: @blanco;
  border-radius: 0px;
}

#custom-right1 {
  color: @workspaces;
  background: @main-bg;
  text-shadow: 3px 0 2px rgba(0, 0, 0, 0.4);
  margin-bottom: 0;
  font-size: 21px;
}

#window {
  color: #ffffff;
  background: @main-bg;
  padding: 1px 7px 1px 7px;
}

#custom-left2 {
  color: @workspaces;
  background: @main-bg;
  margin-bottom: 0;
  padding-left: 2px;
  font-size: 21px;
}

#custom-clipboard{
  color: #ffffff;
  background: @workspaces;
  margin: 0px;
  padding: 1px 7px 1px 7px;
}

#custom-leftin1 {
  color: @workspaces;
  background: @main-bg;
  font-size: 21px;
}

#custom-left7 {
  color: @main-bg;
  background: @workspaces;
  margin-left: -12px;
  padding-left: 2px;
  font-size: 21px;
}

#custom-right4 {
  color: @main-bg;
  background: @workspaces;
  margin-right: -10px;
  padding-right: 2px;
  font-size: 21px;
}

#custom-rightin1 {
  color: @workspaces;
  background: @main-bg;
  font-size: 21px;
}

#custom-right2 {
  color: @cpuinfo;
  background: @main-bg;
  margin-bottom: 0;
  padding-left: 0px;
  text-shadow: 3px 0 2px rgba(0, 0, 0, 0.4);
  font-size: 21px;
}

#custom-groups{
  font-size: 14px;
  padding: 1px 7px;
  background: @workspaces;
}

#custom-sep{
  font-size: 14px;
  background: @workspaces;
  padding: 1px;
}

#custom-nota{
  font-size: 14px;
  padding: 1px 0 1px 9px;
  background: @workspaces;
}

#custom-right2 {
  color: @workspaces;
  background: @main-bg;
  text-shadow: 3px 0 2px rgba(0, 0, 0, 0.4);
  font-size: 21px;
  margin-bottom: 0;
}

#pulseaudio{
  /*color: @blanco;*/
  /*background-color: rgba(0, 0, 0, 0.9);*/
  /*border-radius: 10px 0px 0px 10px;*/
  font-size: 18px;
  padding: 1px 2px 1px 7px;
}

#idle_inhibitor {
  color: @blanco;
  /*background-color: #000000;*/
  font-size: 19px;
  padding: 1px 2px 1px 2px;
  border-radius: 0px;
}

#tray {
  transition-property: background-color;
  transition-duration: 0.5s;
  padding: 1px 7px;
}

#custom-cycle_wall{
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0px;
  padding: 1px 2px 1px 2px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#custom-left3 {
  color: @workspaces;
  background: @main-bg;
  padding-left: 2px;
  font-size: 21px;
}

#language {
  color: @blanco;
  background: @workspaces;
  font-size: 14px;
  padding: 1px 7px;
}

#custom-right3 {
  color: @workspaces;
  background: @main-bg;
  text-shadow: 3px 0 2px rgba(0, 0, 0, 0.4);
  font-size: 21px;
}

#clock {
  color: @blanco;
  font-size: 14px;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0px 0px 0px 0px;
  padding: 1px 15px 1px 7px;
  background: @main-bg;
}


#custom-apunteicon{
  font-size: 17px;
  background: @main-bg;
  padding: 5px 1px 5px 15px;
}

#custom-apuntes{
  background: @main-bg;
}

#custom-left4 {
  color: @cpuinfo;
  background: @main-bg;
  margin-bottom: 0;
  padding-left: 2px;
  font-size: 21px;
}

#custom-targeticon{
  font-size: 17px;
  background: @cpuinfo;
  padding: 1px 1px 1px 7px;
}

#custom-target{
  background: @cpuinfo;
  padding: 1px 7px 1px 2px;
}

#custom-leftin2 {
  color: @cpuinfo;
  background: @memory;
  font-size: 21px;
}

#custom-left5 {
  color: @memory;
  background: @cpuinfo;
  margin-left: -13px;
  padding-left: 2px;
  font-size: 21px;
}

#custom-vpn{
  background: @memory;
  padding: 1px 22px 1px 7px;
}

#custom-leftin3 {
  color: @memory;
  background: @cpu;
  font-size: 21px;
}

#custom-left6 {
  color: @cpu;
  background: @memory;
  margin-left: -13px;
  padding-left: 2px;
  font-size: 21px;
}

#custom-networkicon{
  font-size: 17px;
  background: @cpu;
  padding: 1px 1px 1px 7px;
}

#custom-network{
  background: @cpu;
  padding: 1px 15px 1px 1px;
}


