* {
  font-family: HackNerdFont;
  color: #e5e9f0;
  background: transparent;
}

#window {
  background: rgba(26, 27, 38, 0.9);
  /*background: url('/home/pablo/Pictures/samurai.jpg');*/
  /*background-size: cover;*/
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #282a36;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  content:
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  background-color: #2e3440;
}

#text {
  margin: 2px;
}
